*{
     margin:0;
     padding:0;
     box-sizing:border-box;
     font-family: Georgia, 'Times New Roman', Times, serif;    
}

body,html{
    height: 100%;
    width: 100%;
    background-color: #252525ca;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.quiz-con{
     height: 45vh;
     width: 30vw;
     background:#fff;
     margin-bottom: 100px;
     display: flex;
     flex-direction: column;
    /* justify-content: center; */
    gap: 30px;
    
}
#qutions{
    margin: 10px;
    width: 90%;
    font-size: 500;
    font-weight: 400;
}
.answer{
   height: 50px;
   font-size: 450;
   font-weight: 400;
   /* cursor: pointer; */

}
/* .answer:hover{
    background-color: rgb(36, 36, 36);
    color: #fff;
} */
#btn{
    
    display: flex;
    flex-direction: column;


}
#last{
     display: flex;
     justify-content: center;
     align-items: center;
  
}
#last #next{
      
        background-color: rgb(50, 50, 255);  
        height: 20px;
        /* width:px; */
        margin-bottom: 30px;
        /* display: none; */
       
        
}

